<div class="container">
    <h1>Últimos Projetos</h1>
    <div class="projeto-item">
        <div class="row">
            <div class="col-md-6 col-sm-12 order-md-2 projeto-item-imagem"></div>
            <div class="col-md-6 col-sm-12 order-md-1 projeto-item-titulo">
                <h4>Título</h4>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                <br><button type="button" class="btn btn-outline-primary botao-branco">Saiba mais</button>
            </div>
        </div>
    </div>
    <div class="projeto-item">
        <div class="row">
            <div class="col-md-6 col-sm-12 order-md-2 projeto-item-imagem"></div>
            <div class="col-md-6 col-sm-12 order-md-1 projeto-item-titulo">
                <h4>Título</h4>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                <br><button type="button" class="btn btn-outline-primary botao-branco">Saiba mais</button>
            </div>
        </div>
    </div>
    <div class="projeto-item">
        <div class="row">
            <div class="col-md-6 col-sm-12 order-md-2 projeto-item-imagem"></div>
            <div class="col-md-6 col-sm-12 order-md-1 projeto-item-titulo">
                <h4>Título</h4>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                <br><button type="button" class="btn btn-outline-primary botao-branco">Saiba mais</button>
            </div>
        </div>
    </div>
</div>