.cabecalho {
  width: 100%;
  height: 300px;
  background-image: url(../../../assets/portfolio-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-titulo {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.titulo {
  font-size: 50px;
  font-family: "montserrat";
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 10px #000;
}

.textinho {
  padding-top: 15px;
  font-size: larger;
  color: #a9a9a9;
}

.projeto-item-card {
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projeto-item-card-titulo {
  font-size: 20px;
  font-weight: bold;
}

.projeto-item-card-vermais {
  width: 100%;
  padding-top: 10px;
  color: #00cdac;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.projeto-item-card-vermais a {
  color: #00cdac;
}

.projeto-item-card-desc {
  padding-top: 5px;
  min-height: 50px;
  flex-grow: 1;
}

.row {
  margin: 0;
}

.card-container {
  margin-bottom: 10px;
}

.ver-mais {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-top: 10px;
}

.ver-mais a {
  color: #000;
}
