<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Social:</h4>
                <ul>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Contato:</h4>
                <ul>
                    <li>m.h.v@msn.com</li>
                    <li><a href="#">Formulário</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>