<div class="sobre-resumo-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div class="imagem-container">
                    <div class="imagem">
                        <img src="../../../../assets/profile.png" class="rounded-circle img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <span class="titulo-sobre">Sobre mim</span><br>
                <span class="corpo-sobre">
                    Sou o Mateus, moro em Minas Gerais, e tive a ideia de criar esse site a pouco tempo.
                    Sou bem <i>low profile</i> nas redes sociais, também sou bem pouco social no dia a dia.
                    Eu entrei pra área de programação por acaso, mas não poderia ter escolhido uma área melhor.
                    Desde sempre, de um modo geral, sempre gostei de inventar, construir, personalizar, enfim... criar!
                    No mais, pode clicar no botão abaixo e ir pra página <i>sobre</i>, pra saber mais de mim.
                    E também tem meu currículo lá.
                </span><br>
                <button type="button" class="btn btn-outline-primary botao-branco">Saiba mais</button>
            </div>
        </div>
    </div>
</div>