.sobre-resumo-bg {
  background-color: #00cdac;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "montserrat";
}

.titulo-sobre {
  align-self: center;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.corpo-sobre {
  font-size: min(5vw, 23px);
  text-align: justify;
}

.botao-branco {
  color: #fff;
  border-color: #fff;
  margin-top: 25px;
  font-size: min(5vw, 20px);
}

.botao-branco:hover {
  color: #00cdac;
  border-color: #fff;
  background-color: #fff;
}

.imagem {
  text-align: center;
  padding-bottom: 35px;
}

@media (max-width: 600px) {
  .imagem {
    padding-left: 50px;
    padding-right: 50px;
  }
}
