<div class="sobre-resumo-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div class="imagem-container">
                    <div class="imagem">
                        <img src="../../../../assets/profile.png" class="rounded-circle img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <span class="titulo-sobre">Sobre mim</span><br>
                <span class="corpo-sobre">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at felis velit. Vestibulum hendrerit nunc id justo interdum, a faucibus risus rhoncus. Suspendisse vestibulum ante ut lacinia sagittis. Quisque elementum justo ac mattis pulvinar. Nunc nec urna leo. Nam vel aliquet elit, at ullamcorper risus. Nunc sit amet libero ornare, hendrerit nunc non, hendrerit nulla. Vivamus fermentum, libero non fermentum tempus, lacus massa consectetur massa, quis consequat mi felis nec tellus. Cras a neque elementum, commodo erat non, volutpat eros. Fusce semper elementum sapien vitae gravida. Morbi ut ultrices ex, sit amet commodo nisl.</span><br>
                <button type="button" class="btn btn-outline-primary botao-branco">Saiba mais</button>
            </div>
        </div>
    </div>
</div>