h1 {
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.titulo {
    font-weight: bold;
}

.data-hora {
    color: #00CDAC;
}

.categoria {
    color: #00CDAC;
}

.ultimos-posts-container {
    padding-bottom: 30px;
}