h1 {
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.titulo {
  font-weight: bold;
}

.data-hora {
  color: #00cdac;
}

.categoria {
  color: #00cdac;
}

.ultimos-posts-container {
  padding-bottom: 30px;
}

.titulo a {
  color: #00cdac;
}

.ver-mais {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.ver-mais a {
  color: #000;
}
