.preencher {
    height: 100vh;
    background-image: url("../../../../assets/home-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.barra-nav {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.barra-nav ul {
    text-align: right;
}

.barra-nav ul li {
    list-style: none;
    display: inline-block;
    padding-right: 30px;
    text-decoration: none;
    color: #fff;
}

.barra-nav ul li a {
    color: #fff;
}

.barra-nav ul li a:hover {
    color: #00CDAC;
    text-decoration: none;
}

.titulo {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

@media (min-width: 500px) {
    .centralizar {
        padding-left: 100px;
    }
}

.centralizar {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.menu-hamb {
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: #00CDAC;
    z-index: 999999;
}

.menu-hamb ul {
    list-style: none;
    display: inline-block;
    padding-right: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
}

.menu-hamb ul a {
    list-style: none;
    display: inline-block;
    padding-right: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
}

.menu-hamb h2 {
    padding: 5px;
    right: 0;
    text-align: right;
    font-weight: bold;
}

.hamb-menu-icone {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
}

@media (max-width: 630px) {
    .barra-nav-itens {
        visibility: hidden;
    }
}

@media (min-width: 630px) {
    .barra-nav-icone {
        visibility: hidden;
    }
}