.cabecalho {
  width: 100%;
  height: 300px;
  background-image: url(../../../assets/blog-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-titulo {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.titulo {
  font-size: 50px;
  font-family: "montserrat";
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 10px #000;
}

.textinho {
  padding-top: 15px;
  font-size: larger;
  color: #a9a9a9;
}

.post-titulo {
  font-weight: bold;
  font-size: 40px;
}

.post-imagem {
  text-align: center;
}

.post-resumo {
  text-align: justify;
}

.verde {
  color: #00cdac;
}

.divisor {
  font-weight: bold;
}

.leia-mais {
  color: #00cdac;
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
}
.corpo {
  margin: 25px;
}

.post-titulo a {
  color: #000;
}

.leia-mais a {
  color: #00cdac;
}

.sem-posts {
  text-align: center;
  font-size: 25px;
}
