<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Social:</h4>
                <ul>
                    <li><a href="https://www.linkedin.com/in/mateushvenancio/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/mateushvenancio" target="_blank">GitHub</a></li>
                    <li><a href="https://www.instagram.com/mateushvenancio/" target="_blank">Instagram</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Contato:</h4>
                <ul>
                    <li>m.h.v@msn.com</li>
                    <li><a href="#">Formulário</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>